body {
  font-family: Arial, sans-serif;
  background: #0b1220;
  color: white;
  padding: 20px;
}

h1 {
  text-align: center;
}

.card {
  background: #111827;
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 20px;
}

button {
  background: #22c55e;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  font-weight: bold;
}

.videos {
  display: none;
  margin-top: 10px;
}

.videos iframe {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}
